@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:ital@0;1&display=swap");
header, .divlogo, .ubica, .containergrid, main iframe, .nab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nab {
  margin-left: 5px !important;
  margin-right: 5px !important;
  font-weight: bold;
  border: solid 3px !important;
  border-color: #c6c6c6 !important;
  color: #c6c6c6 !important;
}

.header__nab:hover {
  font-weight: bold;
  color: #ffffff !important;
}

header {
  font-weight: bold;
  background-color: #262626fb;
  height: auto;
}

.minilogo {
  width: 5.5vw;
  height: auto;
}

footer {
  display: grid;
  grid-template-areas: "nav mail contacto";
  font-weight: bold;
  background-color: #262626;
}

.mail {
  grid-area: mail;
  text-align: center;
}

.mail h3 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 5px !important;
}

.mail2 {
  font-weight: bold;
  width: 200px;
  height: 30px;
  margin-bottom: 5px;
  text-align: start;
  box-shadow: 3px 1px 3px 1px black;
  transition: all 0.3s ease;
}

.mail2:hover {
  box-shadow: 3px 1px 3px 1px black;
  transform: translate(5px, 0px);
  color: #0d0d0d;
}

.footer__nab {
  grid-area: nav;
  display: grid;
  font-size: 14px;
  font-weight: bold;
  border-color: #c6c6c6 !important;
  color: #c6c6c6 !important;
  text-align: center;
}

.contacto {
  background-color: whitesmoke;
  width: 200px;
  height: 30px;
  margin-bottom: 5px;
  text-align: start;
  box-shadow: 3px 1px 3px 1px #666666;
  transition: all 0.3s ease;
}

.contacto:hover {
  background-color: rgba(201, 201, 201, 0.3);
  box-shadow: 3px 1px 3px 1px #4d4d4d;
  transform: translate(5px, 0px);
}

section {
  height: 60vh;
  background: linear-gradient(0deg, #c6c6c6, #c2a0f2);
  text-align: center;
}

section h3 {
  display: inline-block;
  color: #262626;
  font-weight: bold;
  margin-left: 15px;
}

.promogrid {
  display: grid;
  margin: auto;
  width: 90vw;
  height: 50vh;
  border-radius: 10px;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: rgba(89, 18, 131, 0.15);
}

.copas {
  height: 220px;
  width: 220px;
  margin-bottom: 25px !important;
  margin: auto;
  margin-top: 25px !important;
  background: linear-gradient(0deg, rgba(192, 192, 192, 0.3), rgba(89, 18, 131, 0.3));
  padding: 20px !important;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 3px 1px 3px 1px #666666;
  transition: all 0.3s ease;
}

.copas:hover {
  box-shadow: 3px 1px 3px 1px #4d4d4d;
  transform: scale(1.035, 1.035);
}

.copasimg {
  height: 80% !important;
  width: 80% !important;
  padding: 10px;
  box-sizing: border-box;
}

.ubica {
  height: 350px;
  width: 450px;
  background: linear-gradient(180deg, rgba(192, 192, 192, 0.3), rgba(89, 18, 131, 0.3));
  border-radius: 5px;
  box-shadow: 3px 1px 3px 1px #666666;
  margin: auto;
}

.ubica:hover {
  box-shadow: 3px 1px 3px 1px #4d4d4d;
}

.containergrid {
  margin: auto;
  background-color: rgba(89, 18, 131, 0.15);
  width: 90vw;
  height: 280px;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-columns: 100%;
    grid-row-gap: 5px;
    text-align: center;
    flex-wrap: wrap;
  }
  .promogrid {
    height: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  section {
    height: auto;
  }
  .containergrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: auto;
  }
}

@media screen and (max-width: 750px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-columns: 100%;
    grid-row-gap: 5px;
    text-align: center;
    flex-wrap: wrap;
  }
  .promogrid {
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  section {
    height: auto;
  }
  .containergrid {
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
  }
  .ubica {
    height: 60%;
    width: 70%;
  }
}

@media screen and (max-width: 568px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-columns: 100%;
    grid-row-gap: 5px;
    text-align: center;
    flex-wrap: wrap;
  }
  body {
    font-size: 10px;
  }
  h5 {
    font-size: 12px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
  .promogrid {
    height: auto;
    display: grid;
    grid-template-columns: 100%;
  }
  section {
    height: auto;
  }
  .containergrid {
    display: grid;
    grid-template-columns: 100%;
    height: auto;
  }
  footer {
    font-size: 10px !important;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style: none;
  text-decoration: none !important;
}

main {
  background: linear-gradient(0deg, #c6c6c6, #c2a0f2);
  text-align: center;
  width: auto;
  height: auto;
}

main h2 {
  font-weight: bold;
}

main h3 {
  font-size: 22px;
  color: #262626;
}

main h5 {
  font-size: 25px !important;
  color: #262626 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: bold;
}

main p {
  font-size: 15px !important;
  color: #262626 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: bold;
}

main iframe {
  width: 350px;
  height: 300px;
}

p {
  color: #262626;
  font-weight: bold !important;
  margin-bottom: 0px !important;
}

.violet {
  color: #c2a0f2;
}

.violet:hover {
  color: #523181;
}

.color {
  color: #303030;
  font-weight: bold;
}

.cuotas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*# sourceMappingURL=style.css.map */