.promogrid{
    display: grid;
    margin: auto;
    width: 90vw;
    height: 40vh;
    border-radius: 10px;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: $color-secundario;
}

.copas{
    height: 220px;
    width: 220px;
    margin-bottom: 25px;
    margin: auto;
    margin-top: 25px;
    background: linear-gradient(0deg, #f2f2f2, $color-secundario);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 2px 1px 1px 1px rgb(102, 102, 102);
    transition: all 0.3s ease;
    text-transform: uppercase;
}
.copas:hover{
    box-shadow: 2px 1px 1px 1px rgb(77, 77, 77);
    transform: scale(1.035, 1.035);
}
.copasimg
{
    height: 80%;
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
}


.ubica{
    @extend %flex;
    height: 350px;
    width: 450px;
    background-color: $color-secundario;
    border-radius: 5px;
    box-shadow: 3px 1px 3px 1px rgb(102, 102, 102);
    margin: auto;
    transition: all 0.3s ease;
}
.ubica:hover{
    box-shadow: 3px 1px 3px 1px rgb(77, 77, 77);
    transform: scale(1.025, 1.025);

}




.containergrid{
    @extend %flex;
    margin: auto;
    background-color: $color-secundario;
    width: 90vw;
    height: 40vh;
    border-radius: 10px;
}

.socialmedia{
    height: 6.5vh;
    width: auto;
}
