footer {
display: grid;
grid-template-areas: 
"nav mail contacto";
font-weight: bold;
background-color: $color-principal;
    ul{
        display: inline-grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
}
    
    .mail{
        grid-area: mail;
        text-align: center;
        h3{
            color: #ffffff; 
            font-size: 20px; 
            margin-bottom: 5px;
            @extend %flex;
        }
    
    }
    .mail2{
    font-weight: bold;
    width: 200px;
    height: 30px;
    margin-bottom: 5px;
    box-shadow: 3px 1px 3px 1px rgb(0, 0, 0);
    transition: all 0.3s ease;
    border-radius: 6px;
    }
    .mail2:hover{
        box-shadow: 3px 1px 3px 1px rgb(0, 0, 0);
        transform: translate(5px, 0px);
        color: #0d0d0d;
    }
    .boton{
        margin-top: 5px;  
        color: #f2f2f2;
        background-color: $color-principal; 
        border-color: #f2f2f2;
        text-transform: uppercase;
    }
    .boton:hover{
        background-color: #c6c6c6; 
        border-color: $color-principal;
        color: $color-principal;
    }
    
    
    .footer__nab{
    display: grid;
    font-size: 14px;
    font-weight: bold;
    border-color: #c6c6c6;
    color: #c6c6c6;
    border-radius: 7px;
    text-transform: uppercase;
    }


    .contacto{
        background-color: whitesmoke;
        width: 200px;
        height: 30px;
        margin-bottom: 5px;
        text-align: start;
        box-shadow: 3px 1px 3px 1px rgb(102, 102, 102);
        transition: all 0.3s ease;
        }
        
        .contacto:hover{
            background-color: rgba(201, 201, 201, 0.3);
            box-shadow: 3px 1px 3px 1px rgb(77, 77, 77);
            transform: translate(5px, 0px);
        }
    
