.header__nab{
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    border: solid 3.5px;
    border-color: #c6c6c6 !important;
    color: #c6c6c6 !important;
}

.header__nab:hover{
    font-weight: bold;
}


header {
font-weight: bold;
background-color: #262626fb;
height: auto;
@extend %flex;
}

.minilogo{
    width: 5.5vw; 
    height: auto; 
}
.divlogo{
@extend %flex;
}