section{
    height: 60vh;
    background-color: #f2f2f2;
    text-align: center;
        h2{
            font-weight: bold;
        }
        h3{
            display: inline-block;
            color: #262626;
            font-weight: bold;
            margin-left: 15px;
        }
}
