section{
    height: 50vh;
    background: linear-gradient(0deg, #c6c6c6, $color-secundario);
    text-align: center;
        h3{
            display: inline-block;
            color: #262626;
            font-weight: bold;
            margin-left: 15px;
        }
}